<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>2KBVWzUItpCJQvIdEaUD2nyW4myfzRpuigBNMx7d49Cg0KxTCm</string>
	<key>consumer_Key</key>
	<string>MucRUg9PE2qS4u0GXj3u72zG3</string>
</dict>
</plist>
